<h1>Issues</h1>

<% @issues.each do |issue| %>
  <a href="<%= issue.html_url %>" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="issue">
      <h2><%= issue.title %></h2>
      <p><%= issue.body %></p>
    </div>
  </a>
<% end %>

<%= link_to 'Home', root_path, class: 'btn' %>
