body {
    background-color: hsl(0, 0%, 0%); 
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-inline {
    background-color: #44475a; 
    padding: 15px;
    border-radius: 5px;
    color: #fff; 
    width: 100%;
    max-width: 500px; 
    margin: 15px auto;
}

.card {
    background-color: #44475a; 
    padding: 15px;
    border-radius: 5px;
    color: #fff; 
    width: 100%;
    max-width: 500px; 
    margin: 15px auto;
}

a {
    color: #50fa7b; 
}

a:hover {
    color: #8be9fd;
}

.btn {
    background-color: #6c5b7b; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #c06c84;
    color: black;
}

.issue {
    background-color: #5e2190; 
    border-radius: 10px;
    padding: 15px; 
    margin-bottom: 20px; 
    width: 50vw; 
    max-width: 800px;
    color: #ffffff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
  
.issue:hover {
    box-shadow: 0 8px 16px 0 white;
}
